<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Trucks</h1>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>No.</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      <tr>{{globals}}<tr>
        <tr *ngFor="let truck of trucks">
          <td>{{truck.id}}</td>
          <td>{{truck.firstName}}</td>
          <td>{{truck.lastName}}</td>
          <td>{{truck.emailId}}</td>
          <td>
            <button (click)="deleteTruck(truck.id)">Delete</button> |
            <button (click)="editTruck(truck.id)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

